@import './../../../../scss/variables';
@import './../../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    border-bottom: 3px solid $colorPrimario;
    background-color: white;
    @include tabletLaptop(){
        grid-template-columns: 32% 36% 32%
    }
    .contLogo{
        display: grid;
        grid-template-columns: repeat(2, 50%);
        padding: 10px 0;
        .contLogoVariable{
            align-self: center;
            justify-self: left;
            img{
                width: 60%;
            }
        }
        .contLogoSalon{
            align-self: center;
            justify-self: right;
            text-align: right;
            img{
                width: 40%;
            }
        }
        
        .salon{
            text-align: right;
        }
    }
}