<div class="contenedor">
    <div class="grid"></div>
    <div class="contLogo">
        <div class="contIzq">
            <img [src]="const.cliente" alt="">
        </div>
        <div class="contDer">
            <img [src]="const.clientesf" alt="">
        </div>
    </div>
    <div class="grid">
        
        <div></div>
        
        <div class="contLogDer">
            <img [src]="const.clientesf" alt="">
            <img [src]="const.santander" alt="">
        </div>
    </div>
</div>
