@import '../../../scss/variables';
@import '../../../scss/mixins';

.contenedor{
    display: grid;
    grid-template-columns: $margenContenido auto $margenContenido;
    @include tabletLaptop(){
        grid-template-columns: 35% 30% 35%;
    }
}