<div class="contenedor">
<div class=""></div>
<div class="contenido">
    <div class="contTitulo">
        <div class="feria">
            <h3 *ngIf="multidominioService.flagFeria && !multidominioService.flagReserva">
                Bienvenido, estamos listos para ayudarte a alcanzar tu próximo vehículo 
            </h3>
            <h3 *ngIf="multidominioService.flagReserva && !multidominioService.flagFeria">
                Tienes una reserva previa, ya estas muy cerca de tu próximo vehiculo, sigue los siguientes pasos 
            </h3>
        </div>
    </div>

    <mat-horizontal-stepper [disableRipple]="true" linear>

        <ng-template matStepperIcon="done" let-index="index">
            {{index+1}}
        </ng-template>
        <ng-template matStepperIcon="edit" let-index="index">
            {{index+1}}
        </ng-template>
    
        <mat-step label="Calcula tu cuota" class="pasoUno" [editable]="!consultaCentrales.segundoCompleto" [completed]="consultaCentrales.primeroCompleto">
            <app-pasouno></app-pasouno>
        </mat-step>
    
        <mat-step label="Ingresa tus datos" class="pasoDos" [editable]="!consultaCentrales.segundoCompleto" [completed]="consultaCentrales.segundoCompleto">
            <app-pasodos></app-pasodos>
        </mat-step>
    
        <mat-step label="Respuesta Inmediata" class="pasoTres">
            <app-pasotres></app-pasotres>
        </mat-step>
    </mat-horizontal-stepper>
</div>

<div class=""></div>
</div>